.palette-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-style: double;
    border-radius: 10px;
   background-color: white;
   padding: 5vmin;
   margin: 1vmin 5vmin;
}

.delete-button {
    display: flex;
    justify-content: center;
}

.selected {
    border: solid;
    border-radius: 10px;
}




@media screen and (max-width: 600px) {
    .palette-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        border-style: double;
        border-radius: 10px;
       
    }

    .delete-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .delete-button {
        width: 5rem;
        font-size: medium;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    label {
        font-size: 6vmin;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem;
      }
}