.palette-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-style: double;
    border-radius: 10px;
   
}

.delete-button {
    display: flex;
    justify-content: center;
}

.selected {
    border: solid;
}

.palette-name {
    
}

@media screen and (max-width: 600px) {
    .palette-container {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        border-style: double;
        border-radius: 10px;
       
    }
}