.header {
    display: flex;
    justify-content: space-around;
}

.links {
    color: Grey;
}



@media screen and (max-width: 600px) {
    .title {
        /* border: solid; */
        margin: 2vmin 20vmin;
        /* background-color: red; */
    }
}