.NavBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    /* border: solid thin black; */
    height: 10vmin;
    color: white;
}

.Links {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.NavText {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

@media screen and (max-width: 600px) {
    .NavBar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        height: 30vmin;
        font-size: 5vmin;
        color: white;
        border: black solid thin;
    }
}